<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конвертор</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>

<div class="choise">
    {% block transform %}
        <div class="choise">
            <h1>Оберіть у що конвертувати Фути</h1>

            <a href="/inches"><p>Фути в дюйми</p></a>
            <a href="/yards"><p>Фути в ярди</p></a>
            <a href="/miles"><p>Фути в милі</p></a>  
    {% endblock %}
</div>

<div class="result">
    <h1>{{result}}</h1>
</div>


</body>
</html>